<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap-theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body style="padding: 40px">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="region-form" style="margin-bottom: 16px"></div>
            <div class="col-md-6" id="region-list"></div>
        </div>
    </div>

    <div style="display: none">
        <script type="text/html" id="tpl-form">
            <form>
                <div class="form-group">
                    <input class="form-control" type="text" name="author" placeholder="Author">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="year" placeholder="Year">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pages" placeholder="Pages">
                </div>
                <button class="btn btn-default">Save</button>
            </form>
        </script>
        <script type="text/html" id="tpl-item">
            <span>{{ author }} - {{ title }}</span>
            <span class="badge ui-remove" style="cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="badge ui-edit" style="cursor: pointer"><span class="glyphicon glyphicon-pencil"></span></span>
        </script>
    </div>

    <div style="display: none">
        <script type="text/javascript" src="vendors/requirejs/require.js" data-main="js/main.js"></script>
    </div>
</body>
</html>
